{% extends 'baangbang/base.html' %}
{% block content %}
    

    <form method="post" action="{% url 'password_reset' %}" autocomplete="off">
    {% csrf_token %}
      <div class="wrapper fadeInDown">
        <div id="formContent">
          {% if form.errors %}
            <p>없는 이메일입니다.</p>
          {% endif %}
          <div class="fadeIn first">
            <img src="../../static/img/main_logo.png" id="icon" />
          </div>
          <!-- Login Form -->
            {%csrf_token%}
            <p>
                <label for="id_email">가입 이메일:</label> 
                <input type="email" name="email" size="30" placeholder="E-mail address" required="" id="id_email">
            </p>
            <input type="submit" class="fadeIn fourth" value="비빌번호 변경">          
          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="#">회원가입</a>
          </div>
        </div>
      </div>
        
    </form>
{% endblock %}