<div class="panel panel-default user-panel">
        <div class="panel-heading">
            소셜로그인
        </div>
        <div class="panel-body text-center">
            <div class="pull-right">
                <a href="#" onclick="naverLogin()">
                    <img src="../../static/img/naver_login.PNG"
                         onmouseover="this.src='../../static/img/naver_login_hover.PNG'"
                         onmouseleave="this.src='../../static/img/naver_login.PNG'"height="34">
                </a>
            </div>
        </div>
    </div>