{% extends 'baangbang/base.html' %}

{% block content %}
<form action="/search_univ/" method="get">
    <input type="text" placeholder="대학교 이름을 검색하세요" id="univ_list" name="q">    
    <input type="submit" id="univ_search" style="display: none">
    <a id="search_btn" onclick="get_univ_name()" style="cursor:pointer">검색</a>
</div>
<script>
    $("#univ_list").autocomplete({
        source: availableUniv,
        select: function(event, ui) {
            console.log(ui.item);
        },
        focus: function(event, ui) {
            return false;
            //event.preventDefault();
            
        }
    });
    function get_univ_name()
    {
        var getText = document.getElementById('univ_list').value;
        var is_listed = false;
        for(var i=0; i<availableUniv.length;i++)
        {
            if(availableUniv[i] === getText)
            {
               is_listed = true;
               break;
            }
        }
        if(is_listed)
        {
            document.getElementById('univ_search').click();
        }
        else alert('대학명을 바르게 입력해주세요');
    }
</script>
{% endblock %}