{% extends 'baangbang/base.html' %}

{% block content %}
<div style="width:1024px;margin:0 auto;margin-top:30px">
    <div style="float:left;width:50%;font-size:40px;font-weight:bold">
        <div class="animation_1"><span style="color:#218261">잠깐</span> 사는 방,</div>
        <div class="animation_2"><span style="color:#218261">잠깐</span> 파는 방.</div>
        <div class="animation_3">방방에서 거래하세요.</div>
        <div class="animation_4">&nbsp;&nbsp;단기 방 구할 때도 나누방, 단기 방 팔 때도 나누방&nbsp;&nbsp;</div>
    </div>
    <div style="float:left;width:50%">
        <form action="/search_univ/" method="get">
            <div class="animation_5">
                <label for="univ_list" style="color:#218261;font-size:30px">▶ 어느 지역 방을 찾으시나요?</label>
                <br>
                <input type="text" placeholder="      대학교 이름 검색" id="univ_list" name="q" style="width:300px;height:50px;border-radius:15px 0px 0px 15px;border: 1px solid #218261;">    
                <input type="text" id="search_btn" value="  검색" onclick="get_univ_name()" style="height:50px;width:50px;cursor:pointer;border-radius:0px 15px 15px 0px;border: 1px solid #218261;border-left:0;position: relative;left:-3px;top:0px " readonly>
            </div>
            
            <input type="submit" id="univ_search" style="display: none">
        </form>
        <div class="animation_6" style="padding-top:30px ">
            <label for="univ_list" style="color:#218261;font-size:30px">▶ 내 방을 팔고싶어요!</label>
            <br>
            <p style="width:300px;height:50px;border-radius:15px 0px 0px 15px;border: 1px solid #ffffff;background: #218261;color:#ffffff;float:left;font-size:20px;padding:10px;padding-left:30px">내 방 등록하기</p>    
            <input type="text" id="search_btn" value="  →" style="height:50px;width:50px;cursor:pointer;border-radius:0px 15px 15px 0px;border: 1px solid #ffffff;border-left:0;background: #218261;font-size:20px;color:#ffffff " readonly>
        </div>
    </div>
</div>
<script>
    $("#univ_list").autocomplete({
        source: availableUniv,
        select: function(event, ui) {
            console.log(ui.item);
        },
        focus: function(event, ui) {
            return false;
            //event.preventDefault();
            
        }
    });
    function get_univ_name()
    {
        var getText = document.getElementById('univ_list').value;
        var is_listed = false;
        for(var i=0; i<availableUniv.length;i++)
        {
            if(availableUniv[i] === getText)
            {
               is_listed = true;
               break;
            }
        }
        if(is_listed)
        {
            document.getElementById('univ_search').click();
        }
        else alert('대학명을 바르게 입력해주세요');
    }
</script>
{% endblock %}