
.container .login_form{width:300px;float:left;border-right:3px solid #bdbdbd;margin: 0 auto;text-align: center;height:300px;}
.container .login_form > div:first-child{font-weight: bold;font-size:20px;}
.container .login_form .input_box{width:250px;margin: 0 auto;margin-top:15px}
.container .login_form .input_box .idAndPass{height:75px}
.container .login_form input[type=text],.container .login_form input[type=password]{width:97%;height:30px;float:left;margin: 1.5%;border: 2px solid #bdbdbd}
.container .login_form .input_box .small_area{font-size:8px;height:20px; color:#848484;margin-top:5px}
.container .login_form .input_box .small_area #idSaveCheck{float:left;}
.container .login_form .input_box .small_area label{float:left;}
.container .login_form .input_box .small_area a{text-decoration: none; color:#848484;float:right}
.container .login_form .input_box .submit_btn{height:60px;}
.container .login_form .input_box .submit_btn input[type=submit]{width:97%;height:50px;float:left;margin: 1.5%;background: #218261;color:#ffffff;font-weight:bold;font-size:15px;border:0; outline:0}
.container .login_form .input_box .social_btn{display: block;width:100%;height:40px}
.container .login_form .input_box .social_btn img{width:240px}
.container .login_form .input_box .goto_signup{font-size:11px;padding-top:5px;color:#848484}
.container .login_form .input_box .goto_signup strong{color:#218261}

.container .ad_banner{width:650px;float:left;background: #bdbdbd;height:200px;margin-left:40px;text-align:center;padding-top:100px }

